.collection_container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;

    .first_collection {
        border: 1px solid black;
        padding: 13px 93px 13px 93px;
        text-align: center;
    }

    .second_collection {
        border: 1px solid black;
        padding: 13px 93px 13px 93px;
        text-align: center;
        margin-left: 188px;
    }
}
