.footer_container {
    height: 1026px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;

    .footer_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 150px;

        .footer_text {
            font-size: 38px;
        }
    }
}
