.nav_buttons {
  font-size: 16px;

  .start_button {
    padding: 9px 20px 9px 20px;
    border: 1px solid black;
    margin-right: 35px;
    margin-left: 50px;
  }

  .info_button {
    margin-right: 55px;
  }

  .about_button {
    margin-right: 55px;
  }

  .org_button {
    margin-right: 55px;
  }
}
