.returning_button_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;
}

.returning_button {
    border: 1px solid black;
    padding: 13px 93px 13px 93px;
    font-size: 36px;
    font-weight: lighter;
}
